/* styles for post.html - blog post sample page of Bogdan's Journey (Personal Blog Site - Udacity project) */

@import url("general.css");
@import url("header.css");
@import url("nav.css");
@import url("footer.css");

/* MAIN CONTENT STYLES */
article {
    padding: 0 10px;
}

article blockquote {
    color: #444;
}

.imgContainer {
    display: flex;
}

.imgContainer img{
    margin: 5px;
    border: 1px solid #444;
}

.logos {
    display: flex;
    flex-direction: column;
}

.logos img {
  width: 300px;
  height: 100px;
  margin-bottom: 5px;
  border: 1px solid #444;
}

.prev_next {
    margin: 20px 0;
}

.prev_next a {
    text-transform: uppercase;
}

/* ASIDE / SIDEBAR 2 STYLES */
aside {
    padding: 0 10px;
    border-left: 1px solid #444;
}

.card {
    background: #162e68;
    text-align: center;
    padding: 5px;
    color: #acb6c5;
}

img.avatar {
    width: 50%;
    height: 50%;

}

/* FOOTER STYLES */
footer p {
    font-size: 20px;
}

footer {
    margin-top: 50px;
}

/* MEDIA QUERIES */
/*@media (max-width: 900px) {
    body {
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% auto auto auto;
        grid-template-areas: 
            "sd hd"
            "sd art"
            "sd sd2"
            "ft ft";
    }

    .imgContainer {
        flex-direction: column;
    }

    .logos img {
        width: 75%;
        height: 75%;;
    }
}*/


/* GRID ASSIGNMENTS */  
header {
    grid-area: hd;
}

nav {
    grid-area: sd;
}

article {
    grid-area: art;
}

aside {
    grid-area: sd2;
}

footer {
    grid-area: ft;
}

/* MEDIA QUERIES */


@media (max-width:600px) {
    body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 22% auto auto auto;
        grid-template-areas: 
            "hd"
            "sd"
            "art"
            "sd2"
            "ft";
        justify-content: center;
        text-align: center;
    }

    nav {
        margin-right: 0;
    }

    article {
        padding: 0;
    }

    .imgContainer {
        flex-direction: column;
    }

    .logos img {
        width: 75%;
        height: 75%;;
    }

    aside {
        border-left: none;
    }

}

@media (min-width: 600px) { 
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5% auto auto auto;
        grid-template-areas: 
            "sd hd"
            "sd art"
            "sd sd2"
            "ft ft";
        justify-content: center;
        text-align: center;
    }

    nav {
        margin-right: 0;
    }

    article {
        padding: 0;
    }

    .imgContainer {
        flex-direction: column;
    }

    .logos img {
        width: 75%;
        height: 75%;;
    }

    aside {
        border-left: none;
    }

}

@media (min-width: 768px) { 
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5% auto auto auto;
        grid-template-areas: 
            "sd hd"
            "sd art"
            "sd sd2"
            "ft ft";
        justify-content: center;
        text-align: center;
    }

    nav {
        margin-right: 0;
    }

    article {
        padding: 0;
    }

    .imgContainer {
        flex-direction: column;
    }

    .logos img {
        width: 75%;
        height: 75%;;
    }

    aside {
        border-left: none;
    }

}

@media (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 5% auto 10%;
        grid-template-areas: 
            "sd hd hd hd"
            "sd art art sd2"
            "sd ft ft ft";
        text-align: left;
    }
    
    nav {
        margin-right: 10px;
    }

    article {
        padding: 0 10px;
    }

    .imgContainer {
        flex-direction: row;
    }

    .logos img {
        width: 100%;
        height: 100%;;
    }

    aside {
        border-left: 1px solid #444;
    }
}





