/* styles for index.html - homepage of Bogdan's Journey (Personal Blog Site - Udacity project) */

/* CSS file imports */


@import url("general.css");
@import url("header.css");
@import url("nav.css");
@import url("footer.css");

/* MEDIA QUERIES */
@media (max-width: 900px) {
    body {
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% auto auto auto auto auto;
        grid-template-areas: 
            "sd hd"
            "sd s1"
            "sd s2"
            "sd s3"
            "s4 s4"
            "ft ft";
    }
}